.alert {
  padding: 20px;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.alert.Erro {  background-color: #f44336;}
.alert.Sucesso {background-color: #04AA6D;}
.alert.Informação {background-color: #2196F3;}
.alert.Perigo {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

a {
  color: white;
}

a:hover{
  cursor: pointer;
}