.user {
    background-color: #1E1E27;
    border: 1px solid #4B4B4B;
    border-radius: 50px;
    padding: 2%;
    margin: 2%;
    text-align: left;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid #4B4B4B;
    margin-bottom: 2%;
}

.nick {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
}

.link {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-content: end;
}

.divFoto {
    float: left;
    margin-right: 5%;
}
