.playerRequest {
    background-color: #1E1E27;
    border: 2px solid #4B4B4B;
    border-radius: 50px;
    padding: 3%;
    margin: 3%;
}

.head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid #4B4B4B;
}

.gameName {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gameInfo {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
}

.requestInfo {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-content: end;
}

.qtdPlayers {
    padding: 0px;
    margin: 0px;
}

.btnCriar {
    background-color: #1BA864;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 200px;
	border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.btnEdit{
    background-color: #1BA864;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 200px;
	border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20%;
}

.btnDelete {
    background-color: #b11919;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 200px;
	border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20%;
}

    /* tela menor, fica tudo embaixo */
    @media screen and (max-width: 420px) {
        .playerRequest {
            padding: 4%;
            height: 520px;
        }

        .head {
            display: grid;
            grid-template-columns: 0;
            border-bottom: 2px solid #4B4B4B;
            width: max-content;
        }
        
        .gameName {
            display: grid;
            width: max-content;
        }
        
        .body {
            display: grid;
            grid-template-columns: 0;
            grid-template-rows: 1fr 1fr;
            height: 220px;
        }
        
        .gameInfo {
            display: grid;
            grid-row-start: 1;
            grid-row-end: 1;
            width: max-content;
            height: min-content;
        }
        
        .requestInfo {
            display: grid;
            grid-row-start: 2;
            grid-row-end: 2;    
            justify-content: start;
            width: max-content;
        }
    }