.user {
    background-color: #1E1E27;
    border: 1px solid #4B4B4B;
    border-radius: 50px;
    height: 200px;
    display: grid;
    grid-template-columns: 200px auto;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding: 25px;
}

.divFoto {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-content: center;

}

.divDados {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
}

.divDados hr {
    border: 1px solid #4B4B4B;
    height: 0px;
    width: 100%;
}

.qtdPlayers {
    padding: 0px;
}

.plataformas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3%;
    margin-right: 3%;
    grid-gap: 1%;
    margin-top: 3%;
}

.perfilPlataformas {
    text-align: center;
    background-color: #1E1E27;
    border: 1px solid #4B4B4B;
    border-radius: 50px;
    margin-right:2%;
}

.userProfile{
    margin-top: 5%;
    align-items: center;
    margin-bottom: 2%;
}

.games {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1%;
    grid-gap: 1%;
    width: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gameInfo {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.gameAchivement {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: left;
}

.platinado {
    color: #07C86B;
}

.trofeus {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-gap: 10px;

}

.trofeus1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: left;
}

.trofeus2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: left;
}

.trofeus3 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: left;
}

.trofeus4 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: left;
}

@media screen and (max-width: 450px) {
    .user {
        background-color: #1E1E27;
        border: 1px solid #4B4B4B;
        border-radius: 50px;
        height: min-content;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 3%;
        padding: 25px;
        justify-content: center;
    }

    .divFoto {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-start: 1;
        justify-content: center;
    }
    
    .divDados {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-start: 2;
        justify-content: center;
    } 
    input[type=range]{
        width: 100px;
    }
}

@media screen and (max-width: 1300px) {
    input[type=range]{
        width: 150px;
    }

    .plataformas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 1%;
        margin-right: 1%;
        grid-gap: 1%;
        margin-top: 3%;
    }
}

@media screen and (max-width: 1000px) {
    input[type=range]{
        width: 100px;
    }
}


@media screen and (max-width: 900px) {
    .plataformas {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        margin-left: 3%;
        margin-right: 3%;
        grid-gap: 30px;
        margin-top: 3%;
        height: min-content;
        justify-content: center;
    }

    .perfilPlataformas {
        height: min-content;
    }

    input[type=range]{
        width: 150px;
    }
}


@media screen and (max-width: 530px) {
    .plataformas {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        margin-left: 3%;
        margin-right: 3%;
        grid-gap: 30px;
        margin-top: 3%;
        height: min-content;
    }

    .perfilPlataformas {
        height: min-content;
    }

    input[type=range]{
        width: 150px;
    }
}


